@charset "UTF-8";


:root{
  --cor-0:#FFFFFF;
  --cor-1:#98D9A7;
  --cor-2:#52B788;
  --cor-3:#9adfbc;
  --cor-4:#AED9E0;
  --cor-5:#6b8a48;
  --cor-6:#F7EFC6;
  --cor-7:#FDE3A7;
  --cor-8:#EDEDED;
  --cor-9:#A8A8A8;
  --cor-10:#444444;
  --cor-11:#829161;
  
}
body {
    
    margin: 0;
    padding: 0;
}
  
  /* Estilo do cabeçalho */
header {
  
    color: #fff;
    padding: 2px;
}
#logo_header{

  text-overflow: var(--cor-1);
  padding-left: 5px;
  padding-bottom: 12px;
}
#nav-bar{
  
  background-image: linear-gradient( to right,#1e5799 30% , #095C30 );
  


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: 4px 7px 15px var(--cor-2);
  margin-bottom: 20px;
 
}
  

#header{

  margin: -15px;
}

#carouselExampleCaptions {
  box-shadow: 2px 2px 6px  black;
  margin-bottom: -9px;
  background-image: url(imagens/background_img/20441cd20517710fc2d077669c4819bf.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 0px;
}


#carosel_fonte{
  color:  #1e5799 ;
  text-shadow: 1px 1px  black;
  
}
#imagem_carosel{
border-radius: 5px;
padding-top: 8px;

}

.carousel-caption h5{
  margin-bottom: 0;
 


    font-size: 60px;
    color: var(--cor-3);
    text-shadow: 2px 2px 2ox black;
}
.card-body h3{
    font-size: 2em;
}


.carousel-inner {
  position: relative;
  width:80%;
  overflow: hidden;
  left: 10%;
  
 

}
main{
  background-image: linear-gradient(#1e57997c, var(--cor-2));
  margin-top: 10px;
  margin: 0;
}


  
#h1_titulo_principal {
  

  
  text-decoration: none;
  text-align: center;
  text-shadow:  0.2px 0.1px 0px black;
    margin: 0;
    padding-top: 17px;
    color: rgb(0, 31, 27);
  }
  

  

  

  /* Estilo das seções */
  section {
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  

  footer {
    background-color: var(--cor-9);
    color:var(--cor-10);
    padding: 20px;
    text-align: center;
  }