@charset "UTF-8";


:root{
  --cor-0:#FFFFFF;
  --cor-1:#98D9A7;
  --cor-2:#52B788;
  --cor-3:#88E3B5;
  --cor-4:#AED9E0;
  --cor--5:#79C0CA;
  --cor-6:#F7EFC6;
  --cor-7:#FDE3A7;
  --cor-8:#EDEDED;
  --cor-9:#A8A8A8;
  --cor-10:#444444;
  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
  /* Estilo do cabeçalho */
header {
  
    color: #fff;
    padding: 2px;
}
#nav-bar{
  background-image: linear-gradient to top(var(--cor-2), var(--cor-4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-bottom: 5px;
  
}
#header{
  background-color: var(--cor-3);
  margin: -10px;
}

#carouselExampleCaptions {
  margin-bottom: -9px;
  background-image: url(imagens/background_img/e238ea01c29bbffe51d54d7f93877dff.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 0px;
}





.carousel-caption h5{
  margin-bottom: 0;
 


    font-size: 60px;
    color: var(--cor-3);
    text-shadow: 2px 2px 2ox black;
}
.card-body h3{
    font-size: 2em;
}


.carousel-inner {
  position: relative;
  width: 70%;
  overflow: hidden;
  left: 15%;
  
 

}


  
  h1 {
    margin: 0;
  }
  

  

  

  /* Estilo das seções */
  section {
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  

  footer {
    background-color: var(--cor-9);
    color:var(--cor-10);
    padding: 20px;
    text-align: center;
  }